.contMajorProj {
    width: 100%;
    background: linear-gradient(90deg, #f1f2f7, #d9d9dc);
    height: 100%;
    display: flex;
    padding-bottom: 10px;
    .contents{
        width: 100%;
    .contentsProjects {
        display: flex;
        width: 85%;
        max-width: 1500px;
        height: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h1 {
            text-align: center;
            width: 100%;
  
            @media only screen and (max-width: 700px){
                font-size: 30px;
            }
        }
        .imgsCont {
            display: flex;
            gap: 30px;
            flex-direction: column;
            margin-top: 0px;
            align-items: flex-start;
            padding-left: 10px;
            justify-content: center;
            @media only screen and (max-width: 700px){
                gap: 10px;
            }
            .projRows {
                gap: 20px;
                display: flex;
                flex-direction: row;
                @media only screen and (max-width: 700px) {
                    gap: 10px;
                flex-direction: column;
           }
                div {
                    flex: 1;
                }
            }
        }
    }
}}
@media only screen and (max-width: 700px) {
    .contentsProjects {
        .imgsCont {
            display: flex;
            width: 100%;
            flex-direction: column;
      
            align-items: center;
            justify-content: center;
            .projRows {
                width: 100%;
                flex-direction: column;
                display: flex;

                align-items: center;
                justify-content: center;
            }
        }
    }
}
.contents{
    background: linear-gradient(90deg, #f1f2f7, #d9d9dc);
}