h1 {
    font-weight: normal;
    font-size: 24px;
  }
  
  .group {
    width: 600px;
    height: 300px;    
    padding: 4px;  
    background: #ddd;
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
  }
  
  .box {
    margin: 4px;
    padding: 8px;
    font-size: 18px;    
    width: 126px;
    height: 126px;
    background: #bbb;
    outline: 1px solid rgba(0,0,0,0.2);
    
    &:nth-child(1) {
      background: rgba(63, 81, 181, 0.6);
      order: 1;
      z-index: 1;
    }
    
    &:nth-child(2) { order: 2; }
    &:nth-child(3) { order: 3; }
    &:nth-child(4) { order: 4; }
    &:nth-child(5) { order: 5; }
    &:nth-child(6) { order: 6; }
    &:nth-child(7) { order: 7; }
    &:nth-child(8) { order: 8; }
  }
  
