.epubCont {
    background: linear-gradient(70deg, #fdfeff, #e9eeff);
    display: flex;
    flex-direction: column;
    .epubImg {
        padding-top: 100px;
        background-color: black;
    }
    .epubCont {
        display: flex;
        width: 100%;

        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        .titleEpub {
            padding: 150px 0px;
            width: 100%;
            background-color: white;
        }
        .viewEpub {
            padding: 100px 50px;
            width: 100%;
            font-weight: 400;
            max-width: 700px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            .contLinks {
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: center;

                .btn {
                }
                .btn2 {
                }
            }
        }

        h3,
        h5 {
            align-items: center;
            justify-content: center;
            text-align: center;
            margin: 0px;
        }
        h5 {
            font-weight: 400;
        }
        .info1 {
            background-color: white;
            width: 100%;
            padding: 150px 50px;
            display: flex;
            justify-content: center;
            .epubTasks {
                font-weight: 400;
                max-width: 700px;
                padding: 0px 50px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
            }
        }
        .info2 {
            padding: 150px 50px;
            width: 100%;
            max-width: 700px;
        }
        .chara {
            width: 100%;
     background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .charaCont {
                width: 100%;
                padding: 100px 50px;

                h3 {
                    margin: 0px;
                    color: rgb(35, 35, 35);
                    font-weight: 600;
                }

                h5 {
                    margin-top: 0px;
                    color: rgb(35, 35, 35);
                }

                .charaImg {
                    width: 70vw;
                    max-width: 1000px;
                    border-radius: 15px;
                }

                p {
                }
            }
            .epubRowChara {
                display: flex;
                align-items: center;
                border-top: 1px solid rgb(186, 186, 186);
              
                flex-direction: column;
                padding: 0px 50px;
                width: 100%;
                .charaImg2 {
                    width: 60vw;
                    max-width: 400px;
                    border-radius: 50%;
                }
                p {
                    max-width: 700px;
                }
            }
            .epubRowChara1 {
                display: flex;
                align-items: center;
                flex-direction: column;
                border-top: 1px solid rgb(186, 186, 186);
                padding: 0px 50px;
      
                .charaImg2 {
                    width: 100%;
                    max-width: 400px;
                    border-radius: 50%;
                }
                p {
                    max-width: 700px;
                }
            }
        }
    }
}
.charaRow, .epubRowChara {
    display: flex;
    flex-direction: row;
    align-items: center;
    p{
        margin-left: 50px;
    }
}
.charaRow{

    @media only screen and (max-width: 700px){
        display: flex;
        flex-direction: column;
    }
}
.charaImg2, .p{
    flex: 1;
    min-width: 100px;
}