.epubCont {
    display: flex;
    flex-direction: column;
    #menu {
        width: 100%;
        height: 150px;
        background-color: black;
    }
    .epubImg {
        width: 100%;
        height: 100%;
    }

    .epubCont {
        display: flex;
        width: 100%;

        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        .titleEpub {
            padding: 150px 0px;
            width: 100%;
            background-color: white;
        }
        .gifCont {
            height: 85%;
            overflow-y: hidden; /* Hide vertical scrollbar */
            overflow-x: hidden;
            align-items: center;
            display: flex;
            max-height: 520px;
            max-width: 800px;
            border-radius: 20px;
            .epubImg2 {
                max-width: 800px;
                width: 100%;
                height: 85%;
                border-radius: 20px;
            }
        }

        .viewEpub {
            padding: 100px 50px;

            width: 100%;
            font-weight: 400;
            max-width: 800px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            .contLinks {
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: center;

                .btn {
                }
                .btn2 {
                }
            }
        }

        h3,
        h5 {
            align-items: center;
            justify-content: center;
            text-align: center;
            margin: 0px;
        }
        h5 {
            font-weight: 400;
        }
        .info1 {
            background: linear-gradient(20deg, #a6c6fb, #c9c9fc5d);
            width: 100%;
            padding: 150px 50px;
            display: flex;
            justify-content: center;
            .epubTasks {
                font-weight: 400;
                max-width: 800px;
                padding: 0px 50px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                h3 {
                    @media only screen and (max-width: 700px) {
                        text-align: left;
                        line-height: 40px;
                    }
                }
            }
        }
        .info2 {
            background: linear-gradient(20deg, #a6c6fb8d, #c9c9fc96);
            width: 100%;
            justify-content: center;
            display: flex;
            div {
                padding: 150px 50px;
                width: 100%;
                max-width: 800px;
                h3 {
                    @media only screen and (max-width: 700px) {
                        text-align: left;
                        line-height: 40px;
                        justify-content: flex-start;
                    }
                }
            }
        }
        .chara {
           
            width: 100%;
            justify-content: center;
            display: flex;
            .charaCont {
                width: 100%;
                padding: 100px 50px;
                align-items: center;
                display: flex;
                flex-direction: column;
                .charaImgCont{
                    .h4Vs {
                    margin-top: 0px;
                    top: 0px;
                    color: white;
                    z-index: 3;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                }
                h3 {
                    margin: 10px;
                    color: rgb(65, 99, 212);
                    font-weight: 600;
                }

                h4 {
                    margin-top: 0px;
                    color: rgb(0, 0, 0);
                    font-size: 24px;
                    display: flex;
                    align-items: center;
                    margin: 0px;
                    justify-content: center;
                }

                .charaImg {
                    width: 70vw;
                    max-width: 1000px;
                    border-radius: 15px;
                    margin: 0px;
                    position: relative;
                }

                }
                p {
                }
            }
        }
    }
}
.charaMobileH4-2{
    text-align: left;
    
}
.umbrella{
    width: 100%;
    border-radius: 15px;

}
.charaBigCont {
    width: 100%;
    padding: 150px 0px;
}

.charaBigCont2 {
    width: 100%;
    padding: 100px 0px;
}
.charaCont1 {
    width: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
    display: flex;
    justify-content: center;
}
.charaMobileH4 {
    display: none;
    @media only screen and (max-width: 700px) {
        display: flex;
        justify-content: center;
    }
}
.charaRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    display: flex;
    padding: 0px 50px;
    justify-content: center;
    @media only screen and (max-width: 700px) {
        flex-direction: column;
    }
}

.epubInfo {
}
.charaDeskH4 {
    @media only screen and (max-width: 700px) {
        display: none;
    }
}

.p {
    max-width: 600px;
}

.charaImg2 {
    min-width: 200px;
    max-width: 300px;
    border-radius: 50%;
    width: 100%;
    margin-right: 50px;
    height: 100%;
}
