div {
    width: 100%;
    .projTitle {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        align-items: center;
        height: 100%;
        padding: 100px 10px;
        gap: 0px;
        height: fit-content;
        h1 {
            margin: 0px;
        }
        h5 {
            margin: 0px;
        }
    }
    .rows {
        background-color: rgb(53, 53, 53);
        display: flex;
        width: 100%;
        flex-direction: row;
        gap: 50px;
        justify-content: center;
        padding: 50px;
        padding-bottom: 100px;
        .row1 {
            max-width: 650px;
            flex: 1;
            display: flex;
            flex-direction: column;
            h3 {
                color: white;
            }
            p {
                color: rgb(189, 189, 189);
            }
        }
        .row2 {
            flex: 1;

            flex-direction: column;
            max-width: 700px;
            h4 {
                color: white;
            }
            h5 {
                color: white;
                padding: 0px;
                margin: 0px;
            }
            p {
                color: rgb(189, 189, 189);
                margin: 0px;
                text-align: left;
            }
        }
    }
    .compCont {
        padding: 200px 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        .compContInner {
            padding: 100px;
            width: 100%;
            display: flex;
            flex-direction: row;
            gap:50px;
            @media only screen and (max-width: 700px){
                flex-direction: column;
            }
            div {
                .row {
                    width: 50%;
                    display: flex;
                }
            }
        }
    }
}

.projScene {
    width: 50%;
    margin-left: 25%;
    max-width: 700px;
    margin-bottom: 300px;
    @media only screen and (max-width: 700px) {
        padding: 10px;
        max-width: 100%;
        width: 100%;
        margin-left: 0%;
    }
}

@media only screen and (max-width: 700px) {
    div {

        .rows {
            padding: 100px;
            gap: 0px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
 
        }
  
    }
    h3, h2{
        display: flex;
        width: 100%;
        align-items: center;
        text-align: center;
    }
}
