
.flip-card {
    background-color: transparent;
    width: 100%;
    height: 50vw;
     perspective: 1000px;
     align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .flip-card-inner {
    position: relative;
    
    align-items: center;
    display: flex;
    flex: 2;
    justify-content: center;
    height: 85%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 5px 4px 15px 0 rgba(0,0,0,0.3);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: white;
    color: black;
    background-size: cover;
    background-image: url(/ListApp.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .flip-card-back {
    background-color: white;
    color: black;
    background-position: center;
    background-size: 130%;
    background-image: url(/ListApp.gif);
    background-repeat: no-repeat;
    transform: rotateY(180deg);
  }