.contentsCA {
    width: 100%;

    .banner {
        width: 100%;
        position: relative;
        display: flex;
        z-index: 3;
    }

    .projTitleCA {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        align-items: center;
        height: 100%;
        z-index: 3;
        padding: 200px 10px;
        text-align: center;
        width: 100%;
        position: relative;
        background-color: white;
        height: fit-content;
        h2 {
            width: 100%;
            text-align: center;
            justify-content: center;
            background-color: transparent;
            color: black;
            padding: 10px;
            padding-top: 30px;
        }
        h1 {
            margin: 0px;
        }

        h5 {
            margin: 0px;
        }
        img {
            max-width: 200px;
            width: 20vw;
        }
    }

    .rowsCA {
        display: flex;
        background-color: rgb(95, 150, 113);
        width: 100%;
        flex-direction: row;
       
        padding: 30px;
        min-width: 400px;
        justify-content: center;
        background-image: url("../../public/cmaid/hill.svg");
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 100%;
        
        @media only screen and (max-width: 700px) {
            flex-direction: column;
            min-width: 100%;
        }
        #row1CA {
            max-width: 650px;
            width: fit-content;
            display: flex;
            margin: 20px;
            flex-direction: column;
            @media only screen and (max-width: 700px) {
                width: 100%;
                max-width: 100%;
            }
            h3 {
                color: #222222;
            }
            h4 {
                color: #222222;
                margin-bottom: 0px;
                font-weight: 500;
                @media only screen and (max-width: 700px) {
                    font-size: 28px;
                    margin-bottom: 10px;
                }
            }
            p {
                color: rgb(255, 255, 255);
                max-width: 700px;
                font-weight: 200;
            }
        }
        #row2CA {
            margin-top: 130px;
            max-width: 650px;
            width: max-content;
            flex-direction: column;
            min-width: 300px;
            padding: 0px;
            margin: 20px;
            @media only screen and (max-width: 700px) {
                margin-top: 0px;
                width: 100%;
                max-width: 100%;
            }
            h3 {
                color: #222222;
            }
            h4 {
                color: #222222;
                margin-bottom: 0px;
                @media only screen and (max-width: 700px) {
                    font-size: 24px;
                }
            }
            h5 {
                color: #222222;
                padding: 0px;
                margin: 0px;
            }
            p {
                color: rgb(255, 255, 255);
                margin: 0px;
                text-align: left;
                max-width: 700px;
                font-weight: 200;
            }
            ul,
            ol {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: li {
                    color: rgb(255, 255, 255);
                }
            }
        }
    }
    .bg1 {
        background-color: rgba(250, 246, 243, 0.733);
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 200px 30px;
        margin-top: 0px;
        @media only screen and (max-width: 700px) {
            padding: 80px 30px;
        }
    }
    .bg2 {
        background-color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 200px 30px;
        @media only screen and (max-width: 700px) {
            padding: 80px 30px;
        }
        #key1CA {
            display: flex;
            flex-direction: column;
            align-items: center;

            padding: 150px 30px;
            padding-bottom: 0px;
            h4 {
                width: 100%;
                text-align: center;
            }
            @media only screen and (max-width: 700px) {
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
                padding: 50px 0px;
                h4 {
                    width: 100%;
                    text-align: left;
                }
            }
            .keyInnerCA {
                display: flex;
                flex-direction: row;

                width: 100%;
                @media only screen and (max-width: 700px) {
                    flex-direction: column;
                    width: 100%;
                }
                .keyRow {
                    display: flex;
                    width: fit-content;
                    flex-direction: column;
                    margin: 25px;
                    @media only screen and (max-width: 700px) {
                        flex-direction: column;
                        width: 100%;
                        margin: 25px 0px;
                    }
                    h4 {
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }

    .p-bg3 {
        width: 100%;
        max-width: 100%;
        padding: 0px 20px;
        display: flex;
        justify-content: center;
    }
}
.deliverablesCA {
    background-color: rgb(255, 255, 255);
    padding: 200px 30px;
    @media only screen and (max-width: 700px) {
        padding: 0px 30px;
    }
    h3{
        font-size: 40px;
    }
}
.bg4 {
    background-color: rgb(255, 255, 255);
    padding: 200px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3{
        font-size: 35px;
    }
    p {
        max-width: 700px;
        text-align: left;
        text-align-last: left;
    }
    img {
        max-width: 1000px;
        width: 90vw;
        background-color: rgb(255, 250, 245);
    }
    @media only screen and (max-width: 700px) {
        padding: 80px 30px;
    }
}
.bg5 {
    background-color: rgb(255, 250, 245);
    padding: 200px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media only screen and (max-width: 700px) {
        padding: 80px 30px;
    }
    p {
        max-width: 700px;
        text-align: left;
        text-align-last: left;
    }
    img {
        max-width: 1000px;
        width: 90vw;
        background-color: rgb(255, 250, 245);
    }
    .ol {
        display: flex;
        margin: 0px 0px;
        padding: 0px;
        p {
            margin: 0px;
        }
    }
}
.bg4-color {
    background-color: rgb(255, 255, 255);
    padding: 200px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        max-width: 900px;
        width: 100%;
    }
    @media only screen and (max-width: 700px) {
        padding: 80px 30px;
    }
}

h2 {
    margin: 0px;
    padding: 0px;
}
.compCont1CA {
    margin-top: 0px;

    display: flex;
    padding: 200px 30px;
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
    text-align: left;
    justify-content: space-between;
    @media only screen and (max-width: 700px) {
        padding: 80px 30px;
    }
    .bigCont1-CA {
        padding: 200px 30px;
    }
    .bigCont2-CA {
        padding-top: 40px;

        .h3Mobile {
            display: none;
        }
        .h3DeskCA {
            display: flex;
        }
        @media only screen and (max-width: 700px) {
            padding: 50px 40px;
            .h3Mobile {
                display: flex;
            }
            .h3Desk {
                display: none;
            }
        }
    }

    .innerCont1CA {
        display: flex;
        flex-direction: column;
    }

    
}

.compCont2CA {
    padding: 200px 30px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgb(255, 255, 255);
    @media only screen and (max-width: 700px) {
        padding: 80px 30px;
    }
}
.projSceneCA {
    width: 50%;
    margin-left: 25%;
    max-width: 700px;
    margin-bottom: 300px;
    @media only screen and (max-width: 700px) {
        padding: 10px;
        max-width: 100%;
        width: 100%;
        margin-left: 0%;
    }
}

@media only screen and (max-width: 959px) {
    div {
        .rowsCA {
            .row2CA {
                margin-top: 200px;
                width: 100%;
            }
        }
    }
}
@media only screen and (max-width: 700px) {
    div {
        .rowsCA {
            padding: 40px 30px;
     
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .row2 {
                margin-top: 30px;
            }
        }
    }
    h3,
    h2 {
        display: flex;
        width: 100%;
        align-items: center;
        text-align: center;
    }
}

[data-aos].compCont1 {
    visibility: visible;
}


.nextProj {
    padding: 200px 200px;
    button {
        border: solid 2px black;
        background-color: rgb(0, 0, 0, 0);
        color: black;
        padding: 15px 25px;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        :hover {
            cursor: pointer;
            background-color: black;
            color: white;
            font-weight: 300;
        }
    }
}
.bg3 {
    background-color: rgba(250, 246, 243, 0.733);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    padding: 200px 30px;
    @media only screen and (max-width: 700px) {
        padding: 80px 30px;
        text-align: left;
    }
    h3{
        font-size: 40px;
    }
}
