div.gallery {
    border: 1px solid #ccc;
  } 
  div.gallery:hover {
    border: 1px solid #777;
  }
  div.gallery img {
    width: 100%;
    height: auto;
  }
  div.desc {
    padding: 15px;
    text-align: center;
  }
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  .artColumn{
    display: flex;
    flex-direction: row;
    margin: 10px;
    width: fit-content;
  }
  .pics{
    width: 100%;
  }




@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300&display=swap');
@import "../comps/Categories/Categories.scss";
@import "/pages/ArtPage2/index.scss";
@import "/pages/BuddingWriters/BuddingWriters.scss";
@import "../comps/ArtMenu1/ArtMenu1.scss";
@import "../pages/index.scss";
@import "../pages/Projects/Projects.scss";
@import "../comps/flip/flip.scss";
@import "../comps/flip2/flip2.scss";
@import "../pages/index.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,200;1,300&display=swap');
@import "../pages/About/About.scss";
@import "../comps/Test/test.scss";
.gif{
  width: 40%;
}
.description{
  flex:3;
}

.gifNDesc{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
 
}

.contents{
  margin-top: 240px;
  min-width: 100vw;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}



@media only screen and (max-width: 700px) {
  .contents{
    margin-top: 90px;
    
  }
  .gif{
    width: 100%;
    height: 100%;
  }
  .gifNDesc{
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin: auto;
  }
  .description{
    margin: auto;
  }
}

@media only screen and (min-width: 700px) {

  .ArtCol3{
    display: none;
  }
}


  @media only screen and (max-width: 700px) {
  
    .ArtCol1{
      display: none;
    }

    .ArtCol3{
      display: flex;
      width: 100%;
    }
    .ArtMenu{
      display: flex;
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  body{
    display: flex;
    width: 100%;
    font-weight: 200;
    font-size: 16px;
    overflow-x: hidden;
    color: #333333;
    background-color: rgb(255, 255, 255);
  }

.landscape{
 // border-top: solid 1px rgb(72, 72, 72);
  position: relative;
  border-top: 1px solid white;
}




.portrait{
  position: relative;
 // border-top: solid 1px rgb(72, 72, 72);
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}



li{
  font-weight: 300;
  font-size: 14px;
}
p{
  font-weight: 300;
  font-size: 14px;
  color: rgb(60, 60, 60);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;1,400;1,500;1,600&display=swap');