div.gallery {
  border: 1px solid #ccc;
}
div.gallery:hover {
  border: 1px solid #777;
}
div.gallery img {
  width: 100%;
  height: auto;
}
div.desc {
  padding: 15px;
  text-align: center;
}
.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}
.artColumn {
  display: flex;
  flex-direction: row;
  margin: 10px;
  width: fit-content;
}
.pics {
  width: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300&display=swap");
@import "../comps/Categories/Categories.scss";
@import "../comps/MajorImgs/MajorImgs.scss";
@import "/pages/BuddingWriters/BuddingWriters.scss";
@import "../comps/TitleNDesc/TitleNDesc.scss";
@import "../pages/Projects/Projects.scss";
@import "../pages/CommAid/CommAid.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,200;1,300&display=swap");
@import "../pages/index.scss";

.gif {
  width: 40%;
}
.description {
  flex: 3;
}

.gifNDesc {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.contents {
  margin-top: 240px;
  min-width: 100vw;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  font-size: 40px;
  color: rgb(40, 40, 40);
  padding: 40px;

  width: 100%;
  font-weight: 300;

  margin-bottom: 150px;
  margin-top: -10px;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 60px;
  font-weight: 100;
  color: black;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
h3 {
  color: black;
  font-weight: 500;
  font-size: 50px;
  font-family: "EB Garamond", sans-serif;
  //text-transform: uppercase;
}
h4 {
  color: black;
  font-weight: 600;
  font-size: 35px;
  font-family: "EB Garamond", sans-serif;
  //text-transform: uppercase;
}

 .alter {
  width: 100%;
  font-size: 40px;
  margin: 100px 0px;
  font-weight: 200;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

h5 {
  color: black;
  font-weight: 600;
  font-size: 16px;
  margin: 15px 0px;
  font-family: "Poppins", sans-serif;
  //text-transform: uppercase;
}
h6 {
  color: black;
  font-weight: 500;
  margin: 15px 0px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  //text-transform: uppercase;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@media only screen and (max-width: 700px) {
  .contents {
    margin-top: 90px;
  }

  .description {
    margin: auto;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 36px;
    font-weight: 200;
  }
  h3 {
    font-weight: 700;
    font-size: 32px;


  text-align: left;

  }
}

@media only screen and (min-width: 700px) {
  .ArtCol3 {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .ArtCol1 {
    display: none;
  }

  .ArtCol3 {
    display: flex;
    width: 100%;
  }
  .ArtMenu {
    display: flex;
    width: 100%;
  }
}
[data-aos] {
  visibility: hidden;
}
[data-aos].animated {
  visibility: visible;
  
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  width: 100%;
  font-weight: 200;
  font-size: 16px;
  overflow-x: hidden;
  color: #333333;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}


p {
  font-weight: 300;
  font-size: 15px;
  text-align: justify; /* For Edge */
  text-align-last: left;
  line-height: 26px;
  color: rgb(60, 60, 60);
  font-family: "Open Sans", sans-serif;
}

ul li, ol li{
  font-weight: 300;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;1,400;1,500;1,600&display=swap");
