.contentsBW {
    width: 100%;

    .Img2{
        width: 100%;
        position: relative;
        z-index: 3;
    }
    .projTitle {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        align-items: center;
        height: 100%;
        padding: 200px 10px;
        position: relative;
        height: fit-content;
        background-color: white;

        h1 {
            margin: 0px;
            
        }

        h5 {
            margin: 0px;
        }
    }
h2{
    position: relative;
}
    .rowsBW {
        display: flex;
        background-color: rgb(38, 35, 33);
        width: 100%;
        flex-direction: row;
        padding: 200px 50px;
        justify-content: center;
        background-image: url("../../public/bw/bookshelf.png");
        background-blend-mode: overlay;
        position: relative;
        @media only screen and (max-width: 700px) {
            flex-direction: column;
            padding: 80px 30px;
        }
        .row1 {
            max-width: 650px;
            flex: 1;
            margin: 15px;
            display: flex;
            flex-direction: column;
            h3 {
                color: white;
            }
            p {
                color: rgb(189, 189, 189);
            }
        }
        .row2 {
            margin-top: 130px;
            flex: 1;
            width: 100%;
            flex-direction: column;
            max-width: 700px;
            margin: 15px;
            h4 {
                color: white;
            }
            h5 {
                color: white;
                padding: 0px;
                margin: 0px;
            }
            p {
                color: rgb(189, 189, 189);
                margin: 0px;
                text-align: left;
            }
            @media only screen and (max-width: 700px) {
                margin-top: 0px;
            }
        }
    }
    .deliverables {
        background-color: rgb(249, 238, 226);
        position: relative;
        padding: 200px 30px;
        @media only screen and (max-width: 700px) {
            padding: 50px 30px;
        }
    }
    h2 {
        margin-bottom: 0px;
    }
    .compCont1 {
        margin-top: 0px;
        padding: 200px 30px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: left;
        justify-content: space-between;

        .persInfo {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            max-width: 800px;
        }

        @media only screen and (max-width: 700px) {
            padding: 0px 0px;
            .alter {
                display: none;
            }
        }
        .compContInner {
            width: max-content;
            display: flex;
            flex-direction: row;
            @media only screen and (max-width: 700px) {
                flex-direction: column;
            }
            .personas {
                width: 100%;
                .row {
                    display: flex;
                    height: 100%;
                }
            }
        }
        @media only screen and (max-width: 700px) {
            padding: 80px 30px;
        }
    }
}
.compCont2 {
    padding: 200px 20px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

    background: rgb(255, 255, 255);
    @media only screen and (max-width: 700px) {
        padding: 0px 30px;
        img {
            padding: 5px;
            border: #e6e6e6 solid 1px;
            margin-top: 40px;
        }
    }
}
.projScene {
    width: 50%;
    margin-left: 25%;
    max-width: 700px;
    margin-bottom: 300px;
    @media only screen and (max-width: 700px) {
        padding: 10px;
        max-width: 100%;
        width: 100%;
        margin-left: 0%;
    }
}

@media only screen and (max-width: 959px) {
    div {
        .rows {
            .row2 {
                margin-top: 200px;
                width: 100%;
            }
        }
    }
}
@media only screen and (max-width: 700px) {
    div {
        .rows {
            padding: 40px 20px;
  
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .row2 {
                margin-top: 30px;
            }
        }
    }
    h3,
    h2 {
        display: flex;
        width: 100%;
        align-items: center;
        text-align: center;
    }
}
.key {
    background-color: rgb(249, 238, 226);
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 700px) {
        padding: 20px 30px;
        align-items: flex-start;
    }
}
[data-aos].compCont1 {
    visibility: visible;
}

.findings {
    width: 100%;
    display: flex;
    height: auto;
    padding: 0px 30px;
    @media only screen and (max-width: 700px) {
        flex-direction: column;
        padding: 0px 0px;
    }
    .findingsRow {
        flex: 1;
        align-items: center;
        display: flex;
        padding: 30px;
        width: 100%;
        flex-direction: column;
        width: 100%;
        height: 280px;
        border-radius: 15px;
        width: fit-content;
        margin: 10px;
        background-color: #fffefb;
        transition: 0.8s;
        
        @media only screen and (max-width: 1295px) {
            height: 330px;
            flex-direction: column;
            transition: 0.8s;
            
        }
        @media only screen and (max-width: 1000px) {
            height: 420px;
            transition: 0.8s;
           
        }
        @media only screen and (max-width: 700px) {
            flex-direction: column;
            display: flex;
           
            margin: 10px;
            margin-left: 0px;
            width: 100%;
            justify-content: flex-start;
        align-items: flex-start;
        }

        .findingsImg1 {
            width: 75px;
            padding-bottom: 10px;
            @media only screen and (max-width: 1000px) {
                justify-content: flex-start;
                align-items: flex-start;
                
                
            }
        }
        .findingsImg2 {
            width: 70px;
            padding-bottom: 10px;
        }
        .findingsImg3 {
            width: 70px;
            padding-bottom: 10px;
        }
        p {
            width: 100%;
            text-align: center;
            text-align-last: center;
            color: rgb(23, 23, 23);
            @media only screen and (max-width: 700px) {
                text-align: left;
                text-align-last: left;
                align-items: flex-start;
            }
        }
    }
}
.compCont3 {
    margin-top: 0px;
    padding: 200px 20px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;

    @media only screen and (max-width: 700px) {
        padding: 80px 30px;
    }
}
hr {
    border: 1px solid #ddb575;
}
.compCont4 {
    margin-top: 0px;
    padding: 150px 30px;
    width: 100%;
    display: flex;

    align-items: center;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;

    @media only screen and (max-width: 700px) {
        padding: 80px 30px;
        padding-bottom: 0px;
    }
}

.finally {
    padding: 150px 0px;
    font-weight: 300;
}

.text {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 60px;
    margin: 0px;
    display: inline;
    color: #ffffff;

    @media only screen and (max-width: 700px) {
        font-size: 35px;
    }
}
.stepH3 {
    background: #222222;
    color: #ddb575;
    display: flex;
    flex-direction: column;
    padding: 65px;
    margin-bottom: 0px;
}

@keyframes textShine {
    to {
        background-position: 200%;
    }
}
